<div style="width: 65%;margin: 0 auto 2.5rem auto">
    <navigator></navigator>
    <h1 class="title">Thay đổi mật khẩu</h1>
    <div id="myform">
        <form ngForm #form='ngForm'>
            <fieldset id="pass">
                <legend>Mật khẩu</legend>
                <div class="form-group">
                    <label class="form-label">Mật Khẩu cũ:</label>

                    <input type="password" class="form-control" name="oldpassword" autocomplete="on"
                        placeholder="Mật Khẩu cũ:" ngModel #oldpassword='ngModel'
                        [class.is-invalid]="oldpassword.invalid && oldpassword.touched"
                        [class.is-valid]='oldpassword.valid' pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>

                    <div class="invalid-feedback">
                        <p>Phải chứa ít nhất một số và một chữ cái viết hoa và viết thường và ít nhất 8 ký tự trở lên
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">Mật Khẩu mới:</label>

                    <input type="password" class="form-control" name="newpassword" autocomplete="on"
                        placeholder="Mật Khẩu:" [(ngModel)]='NewPassword' #newpassword='ngModel'
                        [class.is-invalid]="newpassword.invalid && newpassword.touched"
                        [class.is-valid]='newpassword.valid' pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>

                    <div class="invalid-feedback">
                        <p>Phải chứa ít nhất một số và một chữ cái viết hoa và viết thường và ít nhất 8 ký tự trở lên
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">Nhập lại Mật Khẩu:</label>

                    <input type="password" class="form-control" name="confirmpassword" autocomplete="on"
                        placeholder="Nhập lại Mật Khẩu:" [(ngModel)]='ConfirmPassword' #confirmpassword='ngModel'
                        [class.is-invalid]="confirmpassword.invalid && confirmpassword.touched  || ConfirmPassword !== NewPassword"
                        [class.is-valid]='confirmpassword.valid && ConfirmPassword === NewPassword' required>

                    <div class="invalid-feedback">
                        <p>Mật khẩu không khớp.
                        </p>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="button-container d-flex justify-content-between">
        <button class="btn btn-default" (click)="ToProfilePage()">Trở về</button>
        <button class="btn btn-primary" [attr.disabled]="form.invalid || ConfirmPassword !== NewPassword?'true':null"
            (click)="ChangePassword(form)">Tiếp tục</button>
    </div>
    <modal [id]="'password-page-modal1'" Type="success" [Content]="'Cập nhật thành công.'"
        (ModalClosed)="Modal1Closed()"></modal>
    <modal [id]="'password-page-modal2'" Type="danger" [Content]="'Cập nhật thất bại.'"></modal>
</div>