h1.title {
  font-size: 1.5rem;
}

.mytable table tbody tr td .btn-primary {
  width: 50%;
}

.mytable table tbody tr td .btn-danger {
  width: 50%;
}

.mytable table tr .column-1 {
  width: 10%;
}
.mytable table tr .column-2 {
  width: 30%;
}
.mytable table tr .column-3 {
  width: 30%;
}
.mytable table tr .column-4 {
  width: 9%;
}
.mytable table tr .column-5 {
  width: 10%;
}
.mytable table tr .column-6 {
  width: 11%;
}
