<div class="container">
  <div id="content">
    <div class="store-intro">
      <div class="store-item">
        <div>
          <div class="image1">
            <img
              src="https://drake.vn/image/catalog/Other/h%C3%ACnh%20c%E1%BB%ADa%20h%C3%A0ng/2020/converse879nk2020A.jpg"
            />
          </div>
        </div>
        <div data-aos="fade-up">
          <div class="description-box">
            <div class="description">
              <p>
                <span>
                  <span
                    ><strong>Địa chỉ: </strong>879 Nguyễn Kiệm, Phường 3, Quận
                    Gò Vấp, TP.HCM</span
                  >
                </span>
              </p>
              <p>
                <span>
                  <span
                    ><strong>Số điện thoại: </strong
                    ><a href="tel:028222.86666">028222.86666</a></span
                  >
                </span>
              </p>
              <p>
                <span>
                  <span
                    ><strong>Xem chỉ đường: </strong
                    ><a type="button" (click)="triggerModal(modalData1)"
                      >Tại đây</a
                    ></span
                  >
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <ng-template #modalData1 let-modal>
        <div class="modal-lg">
          <div class="map-section">
            <p>
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.8807606018745!2d106.67653505119088!3d10.820436161298838!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528e2493a0665%3A0xa44528a539372fe7!2zQ29udmVyc2UgODc5IE5ndXnhu4VuIEtp4buHbQ!5e0!3m2!1svi!2s!4v1634721360232!5m2!1svi!2s"
                width="1500"
                height="545"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
              ></iframe>
            </p>
          </div>
        </div>
      </ng-template>

      <div class="store-item">
        <div data-aos="zoom-out">
          <div class="image">
            <img
              src="https://drake.vn/image/catalog/Other/h%C3%ACnh%20c%E1%BB%ADa%20h%C3%A0ng/2020/vans869nk2020.jpg"
            />
          </div>
        </div>
        <div data-aos="fade-up">
          <div class="description-box">
            <div class="description">
              <p>
                <span>
                  <span
                    ><strong>Địa chỉ: </strong>869 Nguyễn Kiệm, Phường 3, Quận
                    Gò Vấp, TP.HCM</span
                  >
                </span>
              </p>
              <p>
                <span>
                  <span
                    ><strong>Số điện thoại: </strong
                    ><a href="tel:028388.79999">028388.79999</a></span
                  >
                </span>
              </p>
              <p>
                <span>
                  <span
                    ><strong>Xem chỉ đường: </strong
                    ><a type="button" (click)="triggerModal(modalData2)"
                      >Tại đây</a
                    ></span
                  >
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <ng-template #modalData2 let-modal>
        <div class="modal-lg">
          <div class="map-section">
            <p>
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.8825175729476!2d106.6765016511909!3d10.820301761301304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529a370642231%3A0x7156c3e609daab5b!2sVans!5e0!3m2!1svi!2s!4v1634745372852!5m2!1svi!2s"
                width="1500"
                height="545"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
              ></iframe>
            </p>
          </div>
        </div>
      </ng-template>

      <div class="store-item">
        <div data-aos="zoom-out">
          <div class="image">
            <img
              src="https://drake.vn/image/catalog/Other/h%C3%ACnh%20c%E1%BB%ADa%20h%C3%A0ng/2020/drake-auco2020.jpg"
            />
          </div>
        </div>
        <div data-aos="fade-up">
          <div class="description-box">
            <div class="description">
              <p>
                <span>
                  <span
                    ><strong>Địa chỉ: </strong>434 Âu Cơ, Phường 10, Quận Tân
                    Bình, TP.HCM</span
                  >
                </span>
              </p>
              <p>
                <span>
                  <span
                    ><strong>Số điện thoại: </strong
                    ><a href="tel:02866.866.888">02866.866.888</a></span
                  >
                </span>
              </p>
              <p>
                <span>
                  <span
                    ><strong>Xem chỉ đường: </strong
                    ><a type="button" (click)="triggerModal(modalData3)"
                      >Tại đây</a
                    ></span
                  >
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <ng-template #modalData3 let-modal>
        <div class="modal-lg">
          <div class="map-section">
            <p>
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7838.722535571048!2d106.65525549870979!3d10.783617958506621!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752eba350d1767%3A0xbe1a63713b4fba1f!2zQ29udmVyc2Ugw4J1IEPGoQ!5e0!3m2!1svi!2s!4v1634742381822!5m2!1svi!2s"
                width="1500"
                height="545"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
              ></iframe>
            </p>
          </div>
        </div>
      </ng-template>

      <div class="store-item">
        <div data-aos="zoom-out">
          <div class="image">
            <img
              src="https://drake.vn/image/catalog/Other/h%C3%ACnh%20c%E1%BB%ADa%20h%C3%A0ng/drake%20oik.jpg"
            />
          </div>
        </div>
        <div data-aos="fade-up">
          <div class="description-box">
            <div class="description">
              <p>
                <span>
                  <span
                    ><strong>Địa chỉ: </strong>164 Ông Ích Khiêm, Phường 5, Quận
                    11, TP.HCM</span
                  >
                </span>
              </p>
              <p>
                <span>
                  <span
                    ><strong>Số điện thoại: </strong
                    ><a href="tel:028.3539.8888">028.3539.8888</a></span
                  >
                </span>
              </p>
              <p>
                <span>
                  <span
                    ><strong>Xem chỉ đường: </strong
                    ><a type="button" (click)="triggerModal(modalData4)"
                      >Tại đây</a
                    ></span
                  >
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <ng-template #modalData4 let-modal>
        <div class="modal-lg">
          <div class="map-section">
            <p>
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.5813507601147!2d106.64095245119091!3d10.766712862277476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f55f6d3e6e9%3A0x867f366d65561b53!2zRHJha2UgMTY0IMOUbmcgw41jaCBLaGnDqm0!5e0!3m2!1svi!2s!4v1634742449989!5m2!1svi!2s"
                width="1500"
                height="545"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
              ></iframe>
            </p>
          </div>
        </div>
      </ng-template>

      <div class="store-item">
        <div data-aos="zoom-out">
          <div class="image">
            <img
              src="https://drake.vn/image/catalog/Other/h%C3%ACnh%20c%E1%BB%ADa%20h%C3%A0ng/2020/converse46HVT2020aa.jpg"
            />
          </div>
        </div>
        <div data-aos="fade-up">
          <div class="description-box">
            <div class="description">
              <p>
                <span>
                  <span
                    ><strong>Địa chỉ: </strong>46 Hoàng Văn Thụ, Phường 9, Quận
                    Phú Nhuận, TP.HCM</span
                  >
                </span>
              </p>
              <p>
                <span>
                  <span
                    ><strong>Số điện thoại: </strong
                    ><a href="tel:028222.86666">028.3878.6666</a></span
                  >
                </span>
              </p>
              <p>
                <span>
                  <span
                    ><strong>Xem chỉ đường: </strong
                    ><a type="button" (click)="triggerModal(modalData5)"
                      >Tại đây</a
                    ></span
                  >
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <ng-template #modalData5 let-modal>
        <div class="modal-lg">
          <div class="map-section">
            <p>
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d502236.5088861105!2d106.29928359719513!3d10.443563278161305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529992f84e135%3A0xb9a5d088e22df320!2sConverse!5e0!3m2!1svi!2s!4v1634742577816!5m2!1svi!2s"
                width="1500"
                height="545"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
              ></iframe>
            </p>
          </div>
        </div>
      </ng-template>

      <div class="store-item">
        <div data-aos="zoom-out">
          <div class="image">
            <img
              src="	https://drake.vn/image/catalog/Other/h%C3%ACnh%20c%E1%BB%ADa%20h%C3%A0ng/2020/vans44HVT2020aa.jpg"
            />
          </div>
        </div>
        <div data-aos="fade-up">
          <div class="description-box">
            <div class="description">
              <p>
                <span>
                  <span
                    ><strong>Địa chỉ: </strong>44 Hoàng Văn Thụ, Phường 9, Quận
                    Phú Nhuận, TP.HCM</span
                  >
                </span>
              </p>
              <p>
                <span>
                  <span
                    ><strong>Số điện thoại: </strong
                    ><a href="tel:028.3508.9999">028.3508.9999</a></span
                  >
                </span>
              </p>
              <p>
                <span>
                  <span
                    ><strong>Xem chỉ đường: </strong
                    ><a type="button" (click)="triggerModal(modalData6)"
                      >Tại đây</a
                    ></span
                  >
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <ng-template #modalData6 let-modal>
        <div class="modal-lg">
          <div class="map-section">
            <p>
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d502236.5088861105!2d106.29928359719513!3d10.443563278161305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529992f84e135%3A0xb9a5d088e22df320!2sConverse!5e0!3m2!1svi!2s!4v1634742577816!5m2!1svi!2s"
                width="1500"
                height="545"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
              ></iframe>
            </p>
          </div>
        </div>
      </ng-template>

      <div class="store-item">
        <div data-aos="zoom-out">
          <div class="image">
            <img
              src="https://drake.vn/image/catalog/Other/h%C3%ACnh%20c%E1%BB%ADa%20h%C3%A0ng/2020/drake-duong-ba-trac.jpg"
            />
          </div>
        </div>
        <div data-aos="fade-up">
          <div class="description-box">
            <div class="description">
              <p>
                <span>
                  <span
                    ><strong>Địa chỉ: </strong>77B Dương Bá Trạc, Phường 1, Quận
                    8, TP.HCM</span
                  >
                </span>
              </p>
              <p>
                <span>
                  <span
                    ><strong>Số điện thoại: </strong
                    ><a href="tel:028 3508 8888">028 3508 8888</a></span
                  >
                </span>
              </p>
              <p>
                <span>
                  <span
                    ><strong>Xem chỉ đường: </strong
                    ><a type="button" (click)="triggerModal(modalData7)"
                      >Tại đây</a
                    ></span
                  >
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <ng-template #modalData7 let-modal>
        <div class="modal-lg">
          <div class="map-section">
            <p>
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.816567464128!2d106.68651985119077!3d10.748616262606037!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f7e32aae275%3A0x40a08e16d29def91!2sDrake!5e0!3m2!1svi!2s!4v1634742996290!5m2!1svi!2s"
                width="1500"
                height="545"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
              ></iframe>
            </p>
          </div>
        </div>
      </ng-template>

      <div class="store-item">
        <div data-aos="zoom-out">
          <div class="image">
            <img
              src="https://drake.vn/image/catalog/Other/h%C3%ACnh%20c%E1%BB%ADa%20h%C3%A0ng/drake%20cva1.png"
            />
          </div>
        </div>
        <div data-aos="fade-up">
          <div class="description-box">
            <div class="description">
              <p>
                <span>
                  <span
                    ><strong>Địa chỉ: </strong>48 Đường Số 6, Cư Xá Chu Văn An,
                    Phường 26, Quận Bình Thạnh, TP.HCM</span
                  >
                </span>
              </p>
              <p>
                <span>
                  <span
                    ><strong>Số điện thoại: </strong
                    ><a href="tel:02866.886.888">02866.886.888</a></span
                  >
                </span>
              </p>
              <p>
                <span>
                  <span
                    ><strong>Xem chỉ đường: </strong
                    ><a type="button" (click)="triggerModal(modalData8)"
                      >Tại đây</a
                    ></span
                  >
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <ng-template #modalData8 let-modal>
        <div class="modal-lg">
          <div class="map-section">
            <p>
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.987501873146!2d106.70530885119096!3d10.812267961447882!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175289643ba139d%3A0xc4d571047a9bfd97!2sDrake%20Chu%20V%C4%83n%20An!5e0!3m2!1svi!2s!4v1634743092464!5m2!1svi!2s"
                width="1500"
                height="545"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
              ></iframe>
            </p>
          </div>
        </div>
      </ng-template>

      <div class="end">
        <div data-aos="zoom-out">
          <p style="text-align: center">
            <img
              alt=""
              src="https://drake.vn/image/catalog/Other/h%C3%ACnh%20c%E1%BB%ADa%20h%C3%A0ng/2020/ket-thuc-2020.png"
            />
          </p>
        </div>
      </div>
      <p>&nbsp; &nbsp;&nbsp;</p>
    </div>
  </div>
</div>
