.fa, .fab, .fad, .fal, .far, .fas {
    display: inline-block !important;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.nav-sidebar>.nav-item .nav-icon {
    margin-left: 0.05rem;
    font-size: 1.0rem;
    margin-right: 0.4rem;
    text-align: center;
}