<!-- Footer -->
<footer>
  <!-- Grid container -->
  <div
    class="footer-top row p-4"
    style="background-color: #f2f2f2; color: #000000"
  >
    <div class="col-md-4">
      <p class="sign-text">Đăng kí nhận tin</p>
    </div>
    <div class="col-md-8">
      <div class="input-group">
        <input
          type="email"
          placeholder="Email của bạn"
          value=""
          class="form-control"
          id="txtemail"
          name="txtemail"
          size="55"
        />
        <div class="input-group-btn">
          <button class="btn" type="submit" name="submit">Đăng ký</button>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom container-fluid p-5 pt-2 pb-0">
    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-2 mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">GIỚI THIỆU</h6>
          <p>
            <a class="texthover"><i class="fas fa-caret-right"></i>Về Drake</a>
          </p>
          <p>
            <a class="texthover"><i class="fas fa-caret-right"></i>Tin tức</a>
          </p>
          <p>
            <a class="texthover"><i class="fas fa-caret-right"></i>Cửa hàng</a>
          </p>
          <p>
            <a class="texthover"
              ><i class="fas fa-caret-right"></i>Khuyến mãi</a
            >
          </p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->
        <div class="col-md-3 mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">THÔNG TIN</h6>
          <p>
            <a class="texthover"
              ><i class="fas fa-caret-right"></i>Chính sách và quy định chung</a
            >
          </p>
          <p>
            <a class="texthover"
              ><i class="fas fa-caret-right"></i>Quy định và hình thức thanh
              toán</a
            >
          </p>
          <p>
            <a class="texthover"
              ><i class="fas fa-caret-right"></i>Chính sách vận chuyển, giao
              nhận</a
            >
          </p>
          <p>
            <a class="texthover"
              ><i class="fas fa-caret-right"></i>Chính sách bảo hành -
              đổi/trả</a
            >
          </p>
          <p>
            <a class="texthover"
              ><i class="fas fa-caret-right"></i>Chính sách bảo mật</a
            >
          </p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">HỖ TRỢ</h6>
          <p>
            <a class="texthover"
              ><i class="fas fa-caret-right"></i>Hỗ trợ trực tuyến</a
            >
          </p>
          <p>
            <a class="texthover"><i class="fas fa-caret-right"></i>Đối tác</a>
          </p>
          <p>
            <a class="texthover"
              ><i class="fas fa-caret-right"></i>Tuyển dụng</a
            >
          </p>
          <p>
            <a class="texthover"
              ><i class="fas fa-caret-right"></i>Kiểm tra đơn hàng</a
            >
          </p>
        </div>

        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">
            Hỗ trợ thanh toán
          </h6>
          <img
            src="https://drake.vn/image/catalog/icons/logopayment.jpg"
            alt=""
          />
          <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>

          <!-- Facebook -->
          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #3b5998"
            href="#!"
            role="button"
            ><i class="fab fa-facebook-f"></i
          ></a>

          <!-- Twitter -->
          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #55acee"
            href="#!"
            role="button"
            ><i class="fab fa-twitter"></i
          ></a>

          <!-- Google -->
          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #dd4b39"
            href="#!"
            role="button"
            ><i class="fab fa-google"></i
          ></a>

          <!-- Instagram -->
          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #ac2bac"
            href="#!"
            role="button"
            ><i class="fab fa-instagram"></i
          ></a>

          <!-- Linkedin -->
          <a
            class="btn btn-primary btn-floating m-1"
            style="background-color: #0082ca"
            href="#!"
            role="button"
            ><i class="fab fa-linkedin-in"></i
          ></a>
        </div>
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-1" style="font-size: 13px">
    © 2020 Copyright: TEAM BEE
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
