<section class="content pt-3 mt-50">
  <div class="container-fluid">
    <form action="">
      <div class="row d-flex justify-content-center">
        <div class="col-md-10 offset-md-2">
          <div class="row">
            <div class="col-md-3 col-sm-4">
              <div class="form-group">
                <select (change)="onChangeSelect($event)" class="select" style="width: 100%;" placeholder="Tìm kiếm">
                  <option value="" disabled selected>Tìm kiếm theo</option>
                  <option *ngFor="let e of ot_timkiem" value="{{e.val}}">{{e.name}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-7 col-sm-8">
              <div class="form-group">
                <div class="input-group">
                  <input #currentItem (keyup.enter)="onEnter(currentItem.value)" [(ngModel)]="timkiem" name="timkiem"
                    type="search" class="form-control" placeholder="Type your keywords here">
                  <div class="input-group-append">
                    <button (click)="onEnter(currentItem.value)" type="submit" class="btn btn-default">
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                  <div class="input-group-append">
                    <button (click)="refresh()" type="submit" class="btn btn-default">
                      <i class="fas fa-redo"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Danh sách các khách hàng</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="btn-group pb-2">
              <button type="button" data-toggle="modal" (click)="loadValue()" data-target="#them-kh-modal"
                class="btn btn-success">Thêm mới
                khách hàng</button>
            </div>
            <table id="ds-kh" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Mã khách hàng</th>
                  <th>Họ</th>
                  <th>Tên</th>
                  <th>Giới tính</th>
                  <th>Ngày sinh</th>
                  <th>Địa chỉ chính</th>
                  <th>Số điện thoại</th>
                  <th>Tỉnh thành</th>
                  <th>Quận huyện</th>
                  <th>Email</th>
                  <th>Password</th>
                  <th class="text-center">Sửa/Xóa</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let kh of DanhSach_KH">
                  <td>{{kh.MaKH}}</td>
                  <td>{{kh.Ho}}</td>
                  <td>{{kh.Ten}}</td>
                  <td>{{kh.GioiTinh}}</td>
                  <td>{{kh.NgaySinh | hienDate }}</td>
                  <td>{{kh.DiaChiChinh}}</td>
                  <td>{{kh.Sdt}}</td>
                  <td>{{kh.TinhThanh}}</td>
                  <td>{{kh.QuanHuyen}}</td>
                  <td>{{kh.Email}}</td>
                  <td>{{kh.Password}}</td>
                  <td class="text-center">
                    <div class="btn-group" style="margin-top: 5px;">
                      <button (click)="getUser(kh)" type="button" data-toggle="modal" data-target="#sua-kh-modal"
                        class="btn btn-info"><i class="fas fa-edit"></i></button>
                      <button (click)="getUser(kh)" type="button" data-toggle="modal" data-target="#xoa-kh-modal"
                        class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->
<div id="them-kh-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="kh-ModalLabel">Thêm mới khách hàng</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label class="col-form-label">Họ:</label>
                <input [(ngModel)]="ho" id="ho" name="ho" type="text" class="form-control">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="col-form-label">Tên:</label>
                <input [(ngModel)]="ten" id="ten" name="ten" type="text" class="form-control">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="col-form-label">Giới tính:</label>
                <div class="form-group">
                  <select [(ngModel)]="gioitinh" id="gioitinh" name="gioitinh" class="select" style="width: 100%;">
                    <option *ngFor="let item of items" value="{{item.val}}">{{item.name}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="col-form-label">Ngày sinh:</label>
                <mat-datepicker #picker></mat-datepicker>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <input matInput [matDatepicker]="picker" class="form-control" id="dtp-kh-ngsinh" name="ngaysinh"
                  [(ngModel)]='ngaysinh'>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="col-form-label">Địa chỉ chính:</label>
                <input [(ngModel)]="diachichinh" id="diachichinh" name="diachichinh" type="text" class="form-control">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="col-form-label">Số điện thoại:</label>
                <input [(ngModel)]="sdt" id="sdt" name="sdt" type="text" class="form-control">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group" (change)="changeCity($event)">
                <label class="col-form-label">Tỉnh thành:</label>
                <select name="tinhthanh" [(ngModel)]="tinhthanh" id="tinhthanh" class="form-control">
                  <option value="">--Chọn tỉnh thành--</option>
                  <option *ngFor="let city of cities" value="{{city.city | singleToDoubleQuote}}">{{city.city}}</option>
                </select>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="col-form-label">Quận huyện:</label>
                <select name="quanhuyen" id="quanhuyen" [(ngModel)]="quanhuyen" class="form-control">
                  <option value="">--Chọn quận / huyện --</option>
                  <option *ngFor="let district of districts" value="{{district | singleToDoubleQuote}}">{{district}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="col-form-label">Email:</label>
                <input [(ngModel)]="email" id="email" name="email" required type="text" class="form-control">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="col-form-label">Password:</label>
                <input [(ngModel)]="password" name="password" required id="password" type="text" class="form-control">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
        <button (click)="addUser()" type="button" class="btn btn-primary">Lưu</button>
      </div>
    </div>
  </div>
</div>

<div id="xoa-kh-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Xoa-kh-ModalLabel">Xóa khách hàng</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn có muốn xóa khách hàng này hay không ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
        <button (click)="deleteUser()" type="button" class="btn btn-primary">Xóa</button>
      </div>
    </div>
  </div>
</div>

<div id="sua-kh-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="kh-ModalLabel">Chỉnh sửa khách hàng</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label class="col-form-label">Mã khách hàng:</label>
                <input type="text" disabled="disabled" class="form-control" name="makh" [(ngModel)]="makh">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="col-form-label">Họ:</label>
                <input type="text" class="form-control" name="ho" [(ngModel)]="ho">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="col-form-label">Tên:</label>
                <input type="text" class="form-control" name="ten" [(ngModel)]="ten">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="col-form-label">Giới tính:</label>
                <div class="form-group">
                  <select [(ngModel)]="gioitinh" name="gioitinh" class="select" style="width: 100%;">
                    <option *ngFor="let item of items" value="{{item.val}}">{{item.name}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="col-form-label">Ngày sinh:</label>
                <mat-datepicker #picker></mat-datepicker>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <input matInput [matDatepicker]="picker" class="form-control" id="dtp-kh-ngsinh" name="ngaysinh"
                  [(ngModel)]='ngaysinh'>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="col-form-label">Địa chỉ chính:</label>
                <input type="text" class="form-control" name="diachichinh" [(ngModel)]='diachichinh'>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group" (change)="changeCity($event)">
                <label class="col-form-label">Tỉnh thành:</label>
                <select name="tinhthanh" [(ngModel)]="tinhthanh" id="tinhthanh" class="form-control">
                  <option value="{{tinhthanh}}" value="">{{tinhthanh}}</option>
                  <option *ngFor="let city of cities" value="{{city.city | singleToDoubleQuote}}">{{city.city}}</option>
                </select>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="col-form-label">Quận huyện:</label>
                <select name="quanhuyen" id="quanhuyen" [(ngModel)]="quanhuyen" class="form-control">
                  <option value="{{quanhuyen}}">{{quanhuyen}}</option>
                  <option *ngFor="let district of districts" value="{{district |singleToDoubleQuote}}">{{district}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="col-form-label">Email:</label>
                <input type="text" class="form-control" name="email" [(ngModel)]='email'>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label class="col-form-label">Password:</label>
                <input type="text" class="form-control" name="password" [(ngModel)]='password'>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
        <button (click)="saveUser()" type="button" class="btn btn-primary">Lưu</button>
      </div>
    </div>
  </div>
</div>