h1.title {
  font-size: 1.5rem;
}
.mytable table tr .column-1 {
  width: 5%;
}
.mytable table tr .column-2 {
  width: 10%;
}
.mytable table tr .column-3 {
  width: 27%;
}
.mytable table tr .column-4 {
  width: 24%;
}
.mytable table tr .column-5 {
  width: 16%;
}
.mytable table tr .column-6 {
  width: 9%;
}
.mytable table tr .column-7 {
  width: 9%;
}
.total-container table tbody tr td {
  font-size: 1rem;
}
