h1.title {
  font-size: 1.5rem;
}

.mytable table tr .column-1 {
  width: 10%;
}
.mytable table tr .column-2 {
  width: 18%;
}
.mytable table tr .column-3 {
  width: 18%;
}
.mytable table tr .column-4 {
  width: 10%;
}
.mytable table tr .column-5 {
  width: 10%;
}
.mytable table tr .column-6 {
  width: 12%;
}
.mytable table tr .column-7 {
  width: 12%;
}
.mytable table tr .column-8 {
  width: 10%;
}
