<div id="brands0" class="brands-box d-flex justify-content-center flex-wrap pt-4 pb-4">
  <div class="item">
    <a (click)="ToProductPage('Converse','All')">
      <img src="assets/logos/Converse.jpg" alt="CONVERSE" class="img-fluid" />
    </a>
  </div>
  <div class="item">
    <a (click)="ToProductPage('Vans','All')">
      <img src="assets/logos/Vans.jpg" alt="VANS" class="img-fluid" />
    </a>
  </div>
  <div class="item">
    <a (click)="ToProductPage('Palladium','All')">
      <img src="assets/logos/Palladium.jpg" alt="PALLADIUM" class="img-fluid" />
    </a>
  </div>
  <div class="item">
    <a (click)="ToProductPage('Supra','All')">
      <img src="assets/logos/Supra.jpg" alt="Supra" class="img-fluid" />
    </a>
  </div>
  <div class="item">
    <a (click)="ToProductPage('K-Swiss','All')">
      <img src="assets/logos/K-Swiss.jpg" alt="K-Swiss" class="img-fluid" />
    </a>
  </div>
</div>