h1.title {
  font-size: 1.5rem;
}

.mytable table tr .column-1 {
  width: 29%;
}
.mytable table tr .column-2 {
  width: 29%;
}
.mytable table tr .column-3 {
  width: 29%;
}
.mytable table tr .column-4 {
  width: 13%;
}
